<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.volleyapi">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="com.example.volleyapi.Util.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="VolleyAPI"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.VolleyAPI">
        <activity android:name="com.example.volleyapi.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.volleyapi.InsertData" />
        <activity android:name="com.example.volleyapi.Delete"></activity>
    </application>

</manifest>